@font-face {
    font-family: 'Postoni-Bold';
    src: url('PostoniWide-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'Postoni-Regular';
    src: url('PostoniWide-Regular.woff2') format('woff2')
}

h1 {
    font-family: "Postoni-Bold";
    font-weight: 700;
    font-size: 56px;
    margin: 0;
    line-height: 61.6px;
    color: #111;
}

h2 {
    font-size: 32px;
    line-height: 35.2px;
    font-family: "Postoni-Bold";
    margin-bottom: 16px;
    margin-top: 48px;
    color: #648573;
}

h2.is-center {
    text-align: center;
}


h3 {
    /* font-size: 23.8px;
    line-height: 33.32px; */
    font-family: "Geneva";
    font-size: 19.25px;
    line-height: 23.1px;
    margin-top: 0;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    margin-bottom: 16px;
    font-family: "Geneva";
}

a {
    border: none;
    border-bottom: 1px solid #d5d5d5;
    color: #026549;
    text-decoration: none;
}

a:hover {
    color: #648573;
}

.article__text {
    font-family: "Georgia";
    line-height: 1.6;
    /* padding-top: 24px; */
    padding-bottom: 24px;
    font-size: 20px;
    color: #2a2a2a;
    margin: 0;
}

.article__text span {
    font-family: "Geneva";
    border: none;
}

.article__text:last-child {
    margin-bottom: 24px;
}

.content {
    max-width: 760px;
    margin: 0 auto;
    padding-left: 5vw;
    padding-right: 5vw;
}

.label {
    font-size: 14px;
    font-family: "Geneva";
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 4px;
    margin-bottom: 8px;
    /* color: #111; */
    color: #2e2056;
    margin-top: 48px;
}

.subhed {
    font-size: 20px;
    font-family: "Geneva";
    padding-bottom: 4px;
    margin-bottom: 16px;
    color: #111;
}

.byline {
    font-family: "Geneva";
    font-size: 16px;
    margin-bottom: 4px;
}

span {
    border-bottom: 1px solid #666;
    color: #2a2a2a;
}

.date {
    color: #666;
    font-size: 14px;
    font-family: "Geneva";
    margin-bottom: 32px;
}

img {
    width: 100%;
}

.image__caption {
    font-family: "Geneva";
    line-height: 1.25;
    color: #cd9c23;
    font-size: 14px;
    margin-top: 6px;
}

.subtitle {
    font-size: 17.5px;
    line-height: 21px;
    font-family: "Geneva";
    margin-top: 0;
    margin-bottom: 10px;
}

.caption {
    font-size: 14px;
    line-height: 16.8px;
    font-family: "Geneva";
}

iframe {
    padding-bottom: 24px;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 40px;
        line-height: 44px;
    }
}

/* html, body {
    margin: 0;
    background: beige;
}

.section {
    max-width: 760px;
    margin: 0 auto;
}

img {
    max-width: 100%
}

.full-size-image {
    padding: 15em 0;
    background-size: cover;
}

.plot-holder {
    margin-bottom: 1em;
}

.plot-holder .caption {
    color: #333;
    text-align: right;
    font-size: 0.75em;
}

.plot-holder h3 {
    font-size: 2em;
}

.plot-holder .subtitle {
    font-weight: bold;
}

.content h1 {
    font-size: 3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */